* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: yellow;
    font-size: 4rem;
    padding: 2rem 0;
}

body {
    background-image: url('./backg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#content {
    /* background-color: antiquewhite; */
}